.main__content {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 900px;
    margin: 100px auto 100px auto;
}

.main__content__contact {
    display: grid;
    grid-template-rows: 100px 70px 70px 70px;
}

.main__content__contact__1 {
    font-size: 30px;
}

.main__content__contact__2 {
    font-size: 15px;
    color: dimgrey;
}

.main__content__form {
    margin-top: 30px;
    horiz-align: right;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 60px 60px 60px 150px 60px;
}

.main__content__form__neta {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 200px;
    outline: none;
    border-top: solid 2px #ffffff;
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    border-bottom: solid 2px #000000;
    transition: 0.3s;
}

.main__content__form__neta:hover {
    border: solid 2px #000000;
    transition: 0.3s;
}

.main__content__form__theme {
    grid-column: 1 / span 2;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 420px;
    outline: none;
    border-top: solid 2px #ffffff;
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    border-bottom: solid 2px #000000;
    transition: 0.3s;
}

.main__content__form__theme:hover {
    border: solid 2px #000000;
    transition: 0.3s;
}

.main__content__form__message {
    grid-column: 1 / span 2;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    width: 420px;
    outline: none;
    border-top: solid 2px #ffffff;
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    border-bottom: solid 2px #000000;
    resize: none;
    transition: 0.3s;
}

.main__content__form__message:hover {
    border: solid 2px #000000;
    transition: 0.3s;
}

.main__content__form__button {
    grid-column: 1 / span 2;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    width: 430px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

.main__content__form__button:hover {
    opacity: 80%;
    transition: 0.3s;
    cursor: pointer;
}