@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #2c2c2c;
}

.main {
    display: grid;
    grid-template-rows: auto auto auto;
}

.main__header {
    display: grid;
    grid-template-rows: 1fr 20px auto;
}

.main__header__label {
    display: grid;
    grid-template-rows: auto auto;
    margin-right: auto;
    margin-left: auto;
}

.main__header__label__hand {
    margin-top: 20px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.main__header__label__title {
    font-size: 30px;
    align-self: center;
    font-style: italic;
}

.main__header__line {
    height: 1px;
    width: 900px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.main__header__nav {
    display: grid;
    grid-template-columns: 1fr auto;
}

.main__header__nav__ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    font-size: 15px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.main__header__nav__ul__li {
    display: inline-grid;
    margin-right: 5px;
    border-radius: 25px;
    padding: 5px 10px;
    transition: 0.3s;
}

.main__header__nav__ul__li:hover {
    display: inline-grid;
    text-shadow: 0 0 10px;
    cursor: pointer;
    transition: 0.3s;
}

.main__header__nav__ul__li a{
    text-decoration:none;
    color: white;
}

.main__header__bread-crumbs {
    margin-top: 20px;
    margin-left: 100px;
}

.main__header__bread-crumbs__elem {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #5a5a5a;
    transition: 0.3s;
    margin:0px 2px 0px 2px;
}

a.main__header__bread-crumbs__elem[href]:hover {
    border-bottom: 1px solid white;
    transition: 0.3s;
}

.main__footer{
    text-align:center;
}

.main__footer h1{
    font-size:30px;
    font-style:italic;
    font-weight:bold;
}

.main__footer h2{
    font-size:17px;
    font-family:sans-serif;
    font-weight:100;
}

.main__footer a{
    text-decoration:none;
    color: white;
}

.main__footer img{
    width:20px;
    margin:0px 5px 0px 5px;
    filter: invert(1);
}